//
// Heading
//------------------------------------------------------------------------

// .hdg02-01 {
//   display: inline-block;
//   width: 100%;
//   margin: 40px 0;

//   .hdg02-02_title {
//     font-size: 26px;
//     font-weight: bold;
//     color: #0770dd;
//     display: inline-block;
//     padding: 18px 0;
//   }
// }

.NewThumb__title {
  font-size: 14px;
  margin-bottom: 12px;
}

.ListThumb__title {
  font-size: 14px;
  margin-bottom: 10px;
}

.ImageThumb__title {
  font-size: 14px;
  margin-bottom: 12px;
}
